<mat-card>
  <mat-card-header>
    <mat-card-title>App Information</mat-card-title>
    <mat-card-subtitle>Details about the application</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      This application is designed for converting values Here are some key
      features:
    </p>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>check_circle</mat-icon>
        <h4 matLine>Weight Conversion</h4>
        <p matLine>Convert between kilograms (kg) and pounds (lbs)</p>
        <ul>
          <li>kg to lbs</li>
          <li>lbs to kg</li>
        </ul>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListIcon>check_circle</mat-icon>
        <h4 matLine>Temperature Conversion</h4>
        <p matLine>Convert between Celsius (°C) and Fahrenheit (°F)</p>
        <ul>
          <li>°C to °F</li>
          <li>°F to °C</li>
        </ul>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListIcon>check_circle</mat-icon>
        <h4 matLine>Distance Conversion</h4>
        <p matLine>Convert between meters (m) and miles (mi)</p>
        <ul>
          <li>m to mi</li>
          <li>mi to m</li>
        </ul>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <span>Made by:Teemu Kalmari</span>
  </mat-card-actions>
</mat-card>
